h1 Register a Member
form(action="/users/create" method="POST")
    label Name
    input(type="text", name="name")
    br
    br
    label Age
    input(type="text", name="age")
    br 
    br
    
    button Register

