extends ../Home.pug

block content
 nav(class="ml-3 mt-2")
    h1 List of Member
    ul 
        each user in users
            li
                span= user.name 

                a(href="/users/" +user.id  style="text-decoration: none") &nbsp; Update &nbsp;
                a(href="/users/" +user.id +"/delete" style="text-decoration: none") Delete

    p Register new member ( click a button)
    a(href="/users/create")
        button(class="btn btn-primary mr-2 ") Register


    a(href="/")
        button(class="btn btn-primary mr-2") Home
