extends ../Home.pug

block content
   .container
    h1 
        span Users
        a(href="/users/create")
            button(class="btn btn-primary ml-2 ") New
    table.table
        tr
            th Name
            th Age
            th Actions
        each user in users
            tr 
                td= user.name
                td= user.age
                td 
                    a.btn.btn-light(href="/users/" +user.id , style="text-decoration: none")  Update 
                    a.btn.btn-light.ml-2(href="/users/" +user.id +"/delete" style="text-decoration: none") Delete

