extends ../Home.pug

block content
    h1 Books store
    p   List of books
    ul
        each book in books
            li 
                span=book.title 
                a(href="/books/" +book.id style="text-decoration: none")  &nbsp Update 
                a(href="/books/" +book.id +"/delete" style="text-decoration: none") &nbsp Delete 

    a(href="/books/create") 
        button(class="btn btn-primary") Create New &nbsp
    a(href="/")
        button(class="btn btn-primary") Home
