h1 Add a book which you want
form(action="/books/create", method="POST")
    label title             
    input(type="text", name="title")
    br
    br
    label Description
    input(type="text", name="des")

    button ADD
