extends ../Home.pug

block content
 .container
    h1.text-center Add a book which you want
    form(action="/books/create", method="POST")
        label(for="title") Title             
        input#title.form-control(type="text", name="title")
        br
        label(for="des") Description
        input#des.form-control(type="text", name="des")

        button(class="mt-2 btn btn-primary py-1 px-3 ") ADD
