h1 Update Description of book

p(Style="color:red") Old Description:  
span= book.des

form(action="/books/"+ book.id +"/update", method="post")
    label New Description  &nbsp;
    input(type="text", name="des")  
    button  &nbsp; UPDATE